.box {
	width: 150px;
	height: 100px;
	position: relative;
	/*border: 1px solid #111111;*/
}

.e {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	background: #4169E1;
	animation: move 1s infinite;
}

@keyframes move {
	from {
		top: 0px
	}
	to {
		top: 80px
	}
}

.f {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 80px;
	left: 0;
	background: #4169E1;
	animation: mo 1s infinite;
}

@keyframes mo {
	from {
		left: 0px
	}
	to {
		left: 120px
	}
}

.g {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0px;
	left: 120px;
	background: #4169E1;
	animation: mmmv 1s infinite;
}

@keyframes mmmv {
	from {
		left: 120px
	}
	to {
		left: 0px
	}
}

.h {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 80px;
	left: 120px;
	background: #4169E1;
	animation: rr 1s infinite;
}

@keyframes rr {
	from {
		top: 80px
	}
	to {
		top: 0px
	}
}

.i {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 20px;
	left: 30px;
	background: #4169E1;
	animation: mov 1s 1.5s infinite;
}

@keyframes mov {
	from {
		top: 60px
	}
	to {
		top: 20px
	}
}

.j {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 60px;
	left: 30px;
	background: #4169E1;
	animation: mos 1s 1.5s infinite;
}

@keyframes mos {
	from {
		left: 90px
	}
	to {
		left: 30px
	}
}

.k {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 20px;
	left: 90px;
	background: #4169E1;
	animation: mmm 1s 1.5s infinite;
}

@keyframes mmm {
	from {
		left: 30px
	}
	to {
		left: 90px
	}
}

.l {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 60px;
	left: 90px;
	background: #4169E1;
	animation: rrr 1s 1.5s infinite;
}

@keyframes rrr {
	from {
		top: 20px
	}
	to {
		top: 60px
	}
}