*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
	background-image: url(../img/66.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#headerwch{
	width: 100%;
	margin: auto;
	height: 30px;
}

#nav{
	width: 100%;
	height: 60px;
	background-color: gainsboro;
}

#nav ul{
	width:1000px;
	margin: auto;
	list-style-type: none;
}

#nav li{
	float: left;
	height: 52px;
	width: 100px;
	margin-top: 5px;
	margin-left: 100px;
	text-align: center;
	line-height: 52px;
}

#nav li a{
	color: black;
	font-size: 20px;
	font-family: "微软雅黑";	
	text-decoration: none;
}

#nav li:hover{
	background: lightblue;
}

#text{
	margin-left: 350px;
	margin-right: 80px;
	width: 600px;
	height: 400px;
	margin-top: 35px;
	background-image:url(../img/4.jpg);
	background-size:100% 100% ;
	-webkit-animation: ani 5s infinite;
	transition: all 2s;
	box-shadow: 5px 5px 5px grey;
	float: left;
}

#text1{
	float: left;
	
}

#text1 ul{
	float: left;
	margin-top: 25px;
	list-style-type: none;
	font-size: 30px;
	font-family: "微软雅黑";	
	color: lightsteelblue;
}

#text1-1{
	float: left;
	font-size: 30px;
	font-family: "黑体";	
}

#text1 li a{
	color: white;
	font-family: "微软雅黑";
	font-size: 40px;
}

#text1 li a:hover{
	font-weight: bolder;
	color: cornflowerblue;
}

#text2 ul{
	float: left;
	margin-top: 30px;
	list-style-type: none;
	font-size: 25px;
	font-family: "微软雅黑";	
	color: lightsteelblue;
}

#text2-1{
	float: left;
	font-size: 30px;
	font-family: "黑体";	
	font-weight: bolder;
}

#text2 li a{
	color: white;
	font-family: "微软雅黑";
	font-size: 40px;
}

#text2 li a:hover{
	font-weight: bolder;
	color: cornflowerblue;
}

#text3 ul{
	float: left;
	margin-top: 30px;
	list-style-type: none;
	font-size: 25px;
	font-family: "微软雅黑";
	color: lightsteelblue;	
}

#text3-1{
	float: left;
	font-size: 30px;
	font-family: "黑体";	
	font-weight: bolder;
}

#text3 li a{
	color: white;
	font-family: "微软雅黑";
	font-size: 40px;
}
#text3 li a:hover{
	font-weight: bolder;
	color: cornflowerblue;
}

#text:hover{
	   transform: scale(1.1,1.1); translate(100px,0);
}
@-webkit-keyframes ani{
	
	33%{background-image: url(../img/3.jpg);}
	66%{background-image: url(../img/2.jpg);}
	100%{background: url(../img/1.jpg);}
}

#AA{
	color: white;
	width: 600px;
	height:400px;
	margin-left: 360px;
}

#AA ul{
	width: 500px;
	height: 400px;
	border: dashed 3px indianred;
	box-shadow: 5px 5px 5px dimgrey;
	margin-top: 15px;
	padding-left: 20px;
}

#AA li a{
	color: peachpuff;
	font-family: "微软雅黑";
	font-size: 20px;
}

#AA li a:hover{
	font-weight: bolder;
}

#BB{
    color: white;
	width: 600px;
	height:400px;
	margin-left: 20px;

}

#BB ul{
	width: 500px;
	height: 400px;
	border: dashed 3px indianred;
	box-shadow: 5px 5px 5px dimgrey;
	margin-top: 15px;
	padding-left: 20px;
}

#BB li a{
	color: peachpuff;
	font-family: "微软雅黑";
	font-size: 20px;
}

#BB li a:hover{
	font-weight: bolder;
}

#AA,#BB{
	float: left;
}

#div1{
	
	width: 100%;
	height: 380px;
	margin-top: 20px;
}

.huanqiu{
	text-align: center;
	color: white;
	padding-top: 10px;
	font-size: 35px;
	font-family: "微软雅黑";
}

.cla{
	float: left;
	font-size: 35px;
	font-family: "微软雅黑";
	padding-top: 80px;
	font-weight: bolder;
}

#div1 a{
	color: white;
	opacity: 0;
	text-decoration: none;
}
#div1 .cla:hover a{
	opacity: 1;
	transition: all 2s;
}

.cla1{
	float: left;
	font-size: 35px;
	font-family: "微软雅黑";
	padding-top: 80px;
	font-weight: bolder;
}

#div2 a{
	color: white;
	opacity: 0;
	text-decoration: none;
}

#div2 .cla1:hover a{
	opacity: 1;
	transition: all 2s;
}

#div3{
	margin-top: 35px;
}

#img-img1:hover{
	transition: all 2s;
	transform: scale(1.1,1.1);
	
}

#img-img1,#second{
	float: left;
	
}

#second{
	margin-left: 20px;
	float:  left;
	font-size: 25px;
	font-family: "微软雅黑";
	color: lightblue;
}

#second a:hover{
	font-weight: bolder;
	font-size: 33px;
}

.shehui{
	text-align: center;
	color: white;
	padding-top: 5px;
	font-size: 30px;
	font-family: "微软雅黑";
}

#img-img2:hover{
	transition: all 2s;
	transform: scale(1.1,1.1);
	
}

#img-img2,#third{
	float: left;
}

#third{
	margin-left: 20px;
	float:  left;
	font-size: 25px;
	font-family: "微软雅黑";
	color: lightblue;
}

#third a:hover{
	font-weight: bolder;
	font-size: 33px;
}

#img-img3:hover{
	transition: all 2s;
	transform: scale(1.1,1.1);	
}

#img-img3,#four{
	float: left;
}

#four{
	margin-left: 20px;
	float:  left;
	font-size: 25px;
	font-family: "微软雅黑";
	color: lightblue;
}

#four a:hover{
	font-weight: bolder;
	font-size: 33px;
}

#second a{
	color: peachpuff;
	font-size: 30px;
}
#third a{
	color:peachpuff;
	font-size: 30px;
}
#four a{
	color: peachpuff;
	font-size: 30px;
}

#five{
	color: white;
	padding-top: 5px;
	font-size: 35px;
	font-family: "微软雅黑";
}

#five a{
	color: cornflowerblue;
	font-weight: bolder;
}

#five a:hover{
	font-weight: bolder;
	color: lightblue;
}

#img-img4{
	float: left;
	padding-left: 70px;
}

#img-img4:hover{
	transition: all 2s;
	transform: scale(1.1,1.1);
	
}

#img-img5{
	float: left;
}

#img-img6{
	float: left;
}