*{
	padding: 0;
	margin: 0;
	text-decoration:none;
}

.d1{
	width: 1903px;
	height: auto;
	overflow: hidden;
	/*border:#666666 2px solid;*/
	background-color: #000000;
	position: relative;
}

.loading{
	width: 1903px;
	/*border:#666666 2px solid;*/
	background-color: #000000;
	color: #FFCC00;
	font-size: 12px;
	height: 179px;
	text-align: center;
	padding-top: 30px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.d2{
	width: 100%;
	height: 680px;
	overflow: hidden;
}

.num_list{
	position: absolute;
	width: 100%;
	left: 0px;
	/*bottom:-1px;*/
	background-color: #000000;
	color: #FFFFFF;
	font-size: 12px;
	padding: 4px 0px;
	height: 20px;
	overflow: hidden;
}

.num_list span{
	display: inline-block;
	height: 16px;
	padding-left: 6px;
}

img{
	border: 0px;
}

.pnumber{
	display:none;
}

.button{
	position: absolute;
	z-index: 1000;
	margin-left: 841.5px;
	bottom: 14px;
	font-size: 13px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.b1,.b2{
	background-color: #666666;
	display: block;
	float: left;
	padding: 6px 6px;
	margin-right: 3px;
	color: #666666;
	text-decoration: none;
	cursor: pointer;
}

.b2{
	color: #FF6633;
	background-color: #FF6633;
}

.header{
	width: 1903px;
	height: 81px;
	font-size: 14px;
	font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", SimSun, Heiti, sans-serif;
	position: absolute;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
}

.header .logo{
	padding-top: 31px;
	margin-left: 333px;
	float: left;
}
.header .border1{
	width: 96px;
	height: 82px;
	float: left;
	/*background: red;*/
	margin-left: 270px;

	margin-top:-20px;
	cursor: pointer;
	
}
.header .border2{
	width: 96px;
	height: 82px;
	float: left;
	position: relative;

	margin-top:-20px;
	cursor: pointer;
}
.header .border3{
	width: 96px;
	height: 82px;
	float: left;
	position: relative;

	margin-top:-20px;
	cursor: pointer;
}
.header .border4{
	width: 96px;
	height: 82px;
	float: left;
	position: relative;

	margin-top:-20px;
	cursor: pointer;
}
.header .border5{
	width: 108.45px;
	height: 82px;
	float: left;
	position: relative;
	
	margin-top:-20px;
	cursor: pointer;
}
.header .border6{
	width: 68px;
	height: 82px;
	float: left;
	position: relative;

	margin-top:-20px;
	cursor: pointer;
}
.header .border7{
	width: 82px;
	height: 82px;
	float: left;
	position: relative;

	margin-top:-20px;
	cursor: pointer;
}
.header .border8{
	width: 78.13px;
	height: 82px;
	float: left;
	position: relative;

	margin-top:-20px;
	cursor: pointer;
}
.header .border9{
	width: 68px;
	height: 82px;
	float: left;
	position: relative;

	margin-top:-20px;
	cursor: pointer;
}
.header .border10{
	width: 52px;
	height: 56px;
	float: left;
	position: relative;
	padding-top: 50px;
	margin-top:-20px;
	cursor: pointer;
}
.header .border11{
	width: 22px;
	height: 22px;
	float: left;
	position: relative;
	padding-top: 50px;
	margin-top:-20px;
	cursor: pointer;
}
.header h3{
	padding-top: 50px;
	height: 21px;
	line-height: 21px;
	margin: 0 auto;
	font-size: 13px;
	cursor: pointer;
	font-weight: 100;
}
.headerone{
	width: 1903px;
	height: 377px;
}
.headerone .pyyimg1{
	margin-left:16px;
}
.headerone .pyyimg2{
	margin-left: 6px;
}
.headerone .pyyimg3{
	margin-left: 6px;
}
.headerone .head1{
	width: 170px;
	height: 300px;
	float: left;
	position: relative;
	margin-top: 77px;
	margin-left: 366px;
	margin-right: 184px;
	cursor: pointer;
}
.headerone .head2{
	width: 170px;
	height: 300px;
	float: left;
	position: relative;
	margin-top: 77px;
	margin-right: 184px;
	cursor: pointer;
}

.headerone .head3{
	width: 170px;
	height: 300px;
	float: left;
	position: relative;
	margin-top: 77px;
	margin-right: 184px;
	cursor: pointer;
}

.headerone .head4{
	width: 170px;
	height: 300px;
	float: left;
	position: relative;
	margin-top: 77px;
	
	cursor: pointer;
}
.headerone h3{
	font-size: 20px;
	font-weight: 900;
	text-align: center;
    margin-bottom: 8px;
    margin-top: -6px;
    margin: 0 auto;
    cursor: pointer;
}
.headerone h4{
	font-size: 14px;
	font-weight: 100;
	padding-top: 10px;
	text-align: center;
    margin-bottom: 8px;
    margin-top: 6px;
    margin: 0 auto;
    cursor: pointer;
    color:#9e9e9e;
}
.headertwo{
	width: 1903px;
	height: 382px;
	background: #f5f5f5;
	position: relative;
}
.headertwo img{
	/* margin-top: -28px; */
	margin-left: 360px;
	float: left;
	cursor: pointer;
}
.headertwo li{
	height: 135px;
	width: 155px;
	float: left;
	cursor: pointer;
	
}
.center{
	margin-left: auto;
	margin-right: auto;
	width: 1903px;
}
.mycenter{
	margin-left: auto;
	margin-right: auto;
	width: 1903px;
	background: white;
}
.pyy{
	display: block;
	position: absolute;
	list-style:none;
	margin-left: 972px;
	margin-top: 96px;
}
.headertwo .pyy img{
	margin-left: 52.5px;
	margin-right: 52.5px;
	margin-top: 2px;
}
.pyy .special{
	margin-right: 311px;
}
.headertwo h5{
	text-align: center;
	font-size: 12px;
	font-weight: 400;
	padding-top: 64px;
}
.button a{
	border-radius: 50%;
	width: 12px;
	height: 12px;
	margin-right: 22px;
}
.header .border11 p{
	margin-top: -31px;
	width: 5px;
	height: 9px;
	margin-left: 8px;
	color: #da090b;
}

.pyy img{
	transition: all 1s;
}
.pyy img:hover{
	transform: scaleX(1.28) scaleY(1.28);
}
.headerone img{
	transition: all 1s;
}
.headerone img:hover{
	transform: scaleX(1.38) scaleY(1.38);
}
.header img{
	transition: all 1s;
}
.header img:hover{
	transform: scaleX(1.5) scaleY(1.5);
}
.header button{
	transition: all 1s;
}
.header button:hover{
	transform: scaleX(1.5) scaleY(1.5);
}
#top{
	height:100px;
	width: 150px;
	display: none;
	position: fixed;
	top: 500px;
	right: 100px;

}

#top a
{
	margin-left:36px; 
	text-decoration: none;
	line-height:100px;
}
a{
	text-decoration: none;
}
#btn
{
	background: transparent; 
	border:none;
	cursor: pointer;
}
