/*---------------重设CSS样式--------------------*/
html{min-height:100%; width: 100%;}
body{margin:0px;padding:0px;min-height:100%;width: 100%;font:18px "noto", "Microsoft Yahei",Arial,Helvetica,sans-serif;color:#333;background-color: #fff;/* #EDEFF0; */}
h1,h2,h3,h4,h5,h6,p,dl,ol,ul,pre{margin-top:0px;margin-bottom:0px;}
ul,ol,dd{list-style:none;margin-left:0px;padding-left:0px;}
input{outline:none;}
a,img{border:none;}
a{text-decoration:none;color: #08C;}

/*----------------杂项-------------------*/
.left{display:block;float:left;_white-space:nowrap;}
.right{display:block;float:right;_white-space:nowrap;}
.clearfix { *zoom:1; }
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }

.col-red{color: #D33428;}
.col-orange{color: #F76A1B; /*#ff5c00;*/}
.col-green { color: #38B34B; }
.col-link{color: #08C;}
.font-weight{font-weight: bold;}
.bg-f7f7f7{background-color: #f4f4f4 !important;}


#logo{
	height: 32px;
	padding: 6px 0px;
	text-align: center;
	background-color: #c34545;
	border-bottom: 1px solid #af3636;
}
#header{
	height: 36px;
	border-bottom: 1px solid #ddd;
	background-color: #c34545;
	font-size: 16px;
}
#nav-main li{
	float: left;
	border-right: 1px solid #af3636;
}
#nav-main li a{
	display: block;
	padding: 0px 13px;
	line-height: 36px;
	color: #f9f9f9;
}
#home-link{
	width: 16px;
	background: url('../images/home.png') 14px 10px no-repeat;
}


#user-info{
	font-size: 14px;
}
#user-info a.login-reg, #user-info span{
	display: block;
	line-height: 36px;
	color: #f9f9f9;
}
#user-info span{
	padding: 0px 2px;
}
#user-info a.user{
	display: block;
	padding: 8px 13px;
}
#user-info a.login{
	font-size: 14px;
}

#main h1{
	padding: 0px;
	margin-top: 8px;
	text-align: center;
	color: #555;
	font-weight: 400;
	font-size: 26px;
	background-color: transparent;
	border-bottom: none;
}

#msg-box{
	margin: 200px auto;
	padding: 0px 20px;
	text-align: center;
	line-height: 2em;
	font-size: 22px;
	color: #555;
}
#msg-box a{
	color: #08c;
}

footer{
	margin-top: 40px;
	padding: 20px 12px;
	font-size: 16px;
	border-top: 1px solid #ddd;
	background-color: #f6f6f6;
}
footer a{
	color: #555;
}
footer span.split{
	display: inline-block;
	padding: 0px 6px;
}